<div class="jumbotron">
    <h1>Welcome To My Pinterested App!</h1>
    <p>Pretty Cool</p>
    
    <%= link_to "Login", root_path, class: 'btn btn-default' %>
    <%= link_to "Join", root_path, class: 'btn btn-primary' %>
    
</div>